/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfff60
  }
  
  .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin: 0 1em;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.2s;
  }
  
  .menu a:hover {
    color: #0077ff;
  }
  
  /* Estilos para el contenido */
  .contenido {
    margin: 2rem;
    text-align: center;
  }
  
  .contenido h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .contenido p {
    font-size: 1.5rem;
  }
  